In [ ]:
import sqlite3 
import matplotlib
dbpath="chinook.db"

In [19]:
conn=sqlite3.connect(dbpath)
conn.execute("SELECT * FROM Tracks").fetchone()

(1,
 'For Those About To Rock (We Salute You)',
 1,
 1,
 1,
 'Angus Young, Malcolm Young, Brian Johnson',
 343719,
 11170334,
 0.99)

In [20]:
query="SELECT FirstName, LastName, Country FROM customers LIMIT 5"

results=conn.execute(query).fetchall()
#fetchmany(numero di stampe)
#fetchone(una sola stampa)

print("Primi 5 Clienti")
for row in results:
    print (row)

Primi 5 Clienti
('Luís', 'Gonçalves', 'Brazil')
('Leonie', 'Köhler', 'Germany')
('François', 'Tremblay', 'Canada')
('Bjørn', 'Hansen', 'Norway')
('František', 'Wichterlová', 'Czech Republic')

In [21]:
#sql ingection
targetcountry="Brazil"
query= f"SELECT FirstName, LastName, Email FROM Customers WHERE Country = '{targetcountry}'"
conn.execute(query).fetchall()

[('Luís', 'Gonçalves', 'luisg@embraer.com.br'),
 ('Eduardo', 'Martins', 'eduardo@woodstock.com.br'),
 ('Alexandre', 'Rocha', 'alero@uol.com.br'),
 ('Roberto', 'Almeida', 'roberto.almeida@riotur.gov.br'),
 ('Fernanda', 'Ramos', 'fernadaramos4@uol.com.br')]

In [22]:

conn.execute(query).fetchall()

[('Luís', 'Gonçalves', 'luisg@embraer.com.br'),
 ('Eduardo', 'Martins', 'eduardo@woodstock.com.br'),
 ('Alexandre', 'Rocha', 'alero@uol.com.br'),
 ('Roberto', 'Almeida', 'roberto.almeida@riotur.gov.br'),
 ('Fernanda', 'Ramos', 'fernadaramos4@uol.com.br')]

In [40]:
#safe query no sql injection
chosennation=input("insert the nation ")
safequery= "SELECT FirstName, LastName, Email FROM Customers WHERE Country = ?"

filteredcustomers=conn.execute(safequery, (chosennation,)).fetchall()

print (f"clienti in {chosennation}: ")
for customer in filteredcustomers:
    print (customer)

clienti in Brazil:
('Luís', 'Gonçalves', 'luisg@embraer.com.br')
('Eduardo', 'Martins', 'eduardo@woodstock.com.br')
('Alexandre', 'Rocha', 'alero@uol.com.br')
('Roberto', 'Almeida', 'roberto.almeida@riotur.gov.br')
('Fernanda', 'Ramos', 'fernadaramos4@uol.com.br')